# Configuración de Telegram
TELEGRAM_BOT_TOKEN=tu_token_de_botfather

# URL pública de tu aplicación en la nube (Render) para los Webhooks
# Se usará para decirle a Telegram adónde enviar los mensajes
WEBHOOK_URL=https://tu-app-en-render.onrender.com

# Configuración de Inteligencia Artificial
GEMINI_API_KEY=tu_api_key_de_gemini

# Configuración de Google Sheets
GOOGLE_CREDENTIALS_FILE=credentials.json
SPREADSHEET_URL=url_de_tu_hoja_de_calculo
